body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
*{
    box-sizing: border-box;
}

.box{
    border: 1px solid black;
    height: 450px;
    box-sizing: border-box;
}
.one{
    min-width: 500px;
}
.two{
    flex-grow: 1;
    min-width: 400px;
}
.three{
    min-width: 500px;
}
.four{
    min-height: 150px;
}
.five{
    min-height: 150px;
}
@media(max-width:480px){
    body{
    }
    .box{
        flex-grow: 0;
        min-width:200px;
    }
}